* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.dividirGpus {
  justify-content: space-evenly;
  margin-bottom: 4rem;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  margin-bottom: 3rem;
  grid-template-areas: "tituloGpus tituloGpus tituloGpus tituloGpus" "tarjetasFilaUno tarjetasFilaUno tarjetasFilaUno tarjetasFilaUno"  "contenedorTarjetas contenedorTarjetas contenedorTarjetas"; }

.claseFlex, .tarjetasFilaUno, .tarjetasFilaDos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden; }

.tituloGpus {
  grid-area: tituloGpus;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  font-family: 'Fredericka the Great', cursive; }

.tarjetaGpus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 20%;
  height: auto;
  background-color: white;
  border-radius: 0.2rem;
  margin: 2rem 0;
  box-shadow: 1px 2px 6px 2px grey; }
  .tarjetaGpus .parrafoPlatos {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, cursive; }
  .tarjetaGpus .imgGpus {
    width: 100%; }
  .tarjetaGpus .precio {
    margin: 1rem auto;
    font-size: 1.2rem; }

.bigMinersGpus {
  width: 55%;
  margin: 3rem auto; }
  .bigMinersGpus .bigMinersimg {
    width: 100%; }

.alertVentana {
  background-color: #0ae34b; }

.contenedorModal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out; }
  .contenedorModal .modal {
    background-color: #eeeee8;
    width: 46rem;
    height: auto;
    border-radius: 10px;
    padding: 15px; }
    .contenedorModal .modal .tituloModal {
      font-size: 3rem;
      color: #242323;
      text-shadow: 2px 2px 2px gray;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .contenedorModal .modal .tituloProducto {
      font-size: 2.5rem;
      margin: 1rem;
      text-align: center; }
    .contenedorModal .modal .tituloTotal {
      font-size: 2.5rem;
      margin: 1rem;
      text-align: center; }
    .contenedorModal .modal .botonCerrar {
      font-size: 3.5rem;
      background-color: #eeeee8;
      align-items: flex-end;
      border: none;
      color: red;
      cursor: pointer; }

.contenedorModalActivo {
  visibility: visible;
  opacity: 1; }

.contenedorTarjetas {
  grid-area: contenedorTarjetas;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden; }
  .contenedorTarjetas .tarjetaGpus {
    margin: 2rem 4rem; }

.botonAgregar {
  margin: .5rem auto;
  font-size: 1rem;
  width: 70%;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #04244d; }

.botonAgregar:hover {
  background-color: #093b7c; }

.productoCarrito {
  margin: auto;
  width: 80%;
  font-size: 1.3rem;
  border: 1px solid black;
  border-bottom: none;
  text-align: center; }

.precioCarrito {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  border: 1px solid black;
  border-top: none;
  margin-bottom: 1rem;
  text-align: center; }

div.contenedorGrid header {
  overflow: hidden; }
  div.contenedorGrid header.header {
    width: 100%;
    height: 4.3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0f50; }
    div.contenedorGrid header.header .container {
      width: 95%;
      max-width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between; }
      div.contenedorGrid header.header .container .btn-menu {
        align-items: center;
        align-self: center;
        margin-left: 4rem;
        margin-bottom: .5rem; }
        div.contenedorGrid header.header .container .btn-menu label {
          color: #fff;
          font-size: 40px;
          cursor: pointer; }
      div.contenedorGrid header.header .container .logo img {
        width: 20rem;
        margin-right: 4rem; }
      div.contenedorGrid header.header .container .iconoCompra a img {
        margin-top: .5rem;
        width: 3rem; }
      div.contenedorGrid header.header .container .menu {
        float: right;
        line-height: 100px; }
        div.contenedorGrid header.header .container .menu a {
          display: inline-block;
          padding: 15px;
          line-height: normal;
          text-decoration: none;
          color: #fff;
          transition: all 0.3s ease;
          border-bottom: 2px solid;
          font-size: 15px;
          margin-right: 5px; }

div.contenedorGrid .capa {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0; }

div.contenedorGrid #btn-menu {
  display: none; }

div.contenedorGrid #btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
  position: fixed; }

div.contenedorGrid #btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%); }

div.contenedorGrid .container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; }
  div.contenedorGrid .container-menu .cont-menu {
    width: 100%;
    max-width: 250px;
    background: #0c0f50;
    height: 100vh;
    position: relative;
    transition: all 500ms ease; }
    div.contenedorGrid .container-menu .cont-menu nav {
      transform: translateY(15%); }
      div.contenedorGrid .container-menu .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #f2ecec;
        border-left: 5px solid transparent; }
        div.contenedorGrid .container-menu .cont-menu nav a:hover {
          border-left: 5px solid #240b6f;
          background: #75a9d3; }
    div.contenedorGrid .container-menu .cont-menu label {
      position: absolute;
      right: 5px;
      top: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 18px; }

footer {
  width: 100%;
  height: auto;
  background-color: #0c0f50;
  margin-top: 10rem; }

.contenedorIndex {
  margin-top: 10rem;
  margin-bottom: 4rem; }
  .contenedorIndex .logoprincipal {
    width: 100%;
    text-align: center; }
    .contenedorIndex .logoprincipal img.logoimg {
      margin: 0 auto;
      width: 55%; }
  .contenedorIndex .fraseIndex {
    margin-top: 5rem;
    width: 100%; }
    .contenedorIndex .fraseIndex h3 {
      background-color: #95c1f7;
      margin: 1rem auto;
      width: 65%;
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
      border: 2px outset rgba(67, 66, 66, 0.648);
      border-radius: 5px 5px;
      box-shadow: 2px 2px 2px 2px grey;
      font-family: 'IM Fell English', serif; }

.contenedorNombre {
  width: 50%;
  height: auto;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 5rem auto;
  background-color: #99e2ff; }
  .contenedorNombre .entradaNombre {
    text-align: center;
    margin: 1rem;
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.264); }
  .contenedorNombre .ingresarNombre {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace; }
  .contenedorNombre .inputNombre {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    width: 50%;
    padding: .5rem; }
  .contenedorNombre .botonNombre {
    margin: 1rem auto;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fcc680;
    padding: .5rem; }
  .contenedorNombre .botonNombre:hover {
    background-color: #ffddb1; }

.ImagenesIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem auto; }
  .ImagenesIndex .cajaImagenes {
    width: 90%; }
    .ImagenesIndex .cajaImagenes .indexImg {
      width: 95%;
      height: 100%;
      border-radius: 4px;
      box-shadow: 2px 2px 2px 2px gray; }

.bigMinersRigs {
  width: 55%;
  margin: 6rem auto; }
  .bigMinersRigs .bigMinersimg {
    width: 100%; }

.tituloRigs {
  margin: auto;
  text-align: center; }

.tarjetasFilaDos {
  margin-bottom: 4rem; }

.contenedorRigs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 3rem; }
