html{
    
}
body{
    min-height: 100%;
    margin: 0px;
    height: auto;
    overflow-x: hidden;
    background: linear-gradient( #ffffff,#b5dcff, #7676fd)
    

}
nav{                                 /*Menu sup*/
    margin: 0;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #085ac4;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav a{                             /*Menu sup*/
    float: left;
    margin-left: 20px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 3px;

}
.logoprincipal{             /*imagen logo principal*/
    width: 1000px;
    margin: auto;
    display: block;
    margin-top: 40px;

}
.logoimg{                     /*imagen logo principal*/
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imagenesinicio{             /*Las 3 imagenes*/
    width: 1100px;
    height: auto;
    position: relative;
    margin: auto;
    
}
div .contenedorimg{
    width: 360px;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 2px;
    
}
.cadaimg{
    width: 100%;
    height:250px;
    position: relative;
    display: inline;
    opacity: 0.5;
    
}
div .cadaimg:hover{               /*Las 3 imagenes*/
    opacity: 1;
    box-shadow: 7px 2px 4px 2px rgb(112, 110, 110);
}


article.somosuna{                     /*titulo somos una*/
    width: 55%;
    text-align: center;
    font-family: initial;
    font-variant: small-caps;
    margin: 0 0;
    padding: 8px;
    font-size: 20px;
    background-color: #77b2f1;
    border: 10px inset rgb(110, 114, 226);
    margin-left: auto;
    margin-right: auto;
    color: rgb(251, 251, 251);
    border-radius: 20px 10px 20px 10px;
    box-shadow: 5px 2px 4px 2px gray;
    
}
div.rigscartel{                          /*titulo Rigs de mineria*/
    margin-left: 70px;
    width: 20%;
    height: 70px;
    color: #fbfcff;
    background-color: #f9a339;
    border: 10px inset rgb(147, 83, 30);
    white-space: nowrap;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 15px 5px ;
    box-shadow: 5px 2px 4px 2px gray;
    
}
div.rigscartel.gpus{                     /*titulo GPUs*/
    width: 27%;
    margin-left: 1025px;
}
div.rigscartel.house{                    /*titulo Housing*/
    margin: auto;
    width: 25%;
    background-color: rgb(50, 230, 89);
    border: 10px inset rgb(10, 152, 97);
    color: rgb(254, 251, 255);
}

article.contactoss a{                                   /*Cartel contacto abajo */      
   color:#e67708;
   font-size: 35px;
   background-color: #e3e8ed95;
   border-radius: 10px 10px;
   text-align: center;
   position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 3;
    
    
}
article.contactoss a{              /*Cartel contacto abajo */
height: 6%;
width: 200px;
text-decoration: none;
border: 4px solid rgb(2, 77, 143);
font-family: Georgia, 'Times New Roman', Times, serif;
font-variant: small-caps;
white-space: nowrap;
}
article span.material-symbols-outlined{   /*Cartel contacto abajo */
    color: #085ac4;
    font-size: 35px;
}
article.contactoss a:hover{            /*Cartel contacto abajo */
    opacity: 1;
   background-color: #77b4f1;
   color: #085ac4;

}





/*Estilo para el Login */
.login{
    margin: 10px  auto;
    width: 400px;
    padding: 30px 30px;
    background-color:  #085ac4;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
div .login{
    padding: 10px 10px;
    background-color: rgb(193, 201, 238);
   margin: 0;
}

.login .cartel label{   /*Estilo para el usu, contra */
    color: #fff;
    font-size: 25px;
    
}
.login .cartel input{  /*Estilo para el cartel */
    width: 100%;
    padding: 10px;
    color: #050505;
    border: none;
    margin-bottom: 30px;
}
     
.login h2{        /*Estilo para el Login*/
  
    font-family: unset;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 173, 48);
    text-align: center;
}
.login .boton input{              /*Estilo para el Boton*/
    letter-spacing:  2px;
    font-family: unset;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px;
    color: rgb(23, 22, 22);
    background-color: rgb(251, 173, 48);
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
}
.login .boton input:hover{           /*Estilo para el boton*/
    background-color: #fde4a4;
}
.imagenlogin{                      /*Estilo para la imagen login*/
    display: block; margin: auto;
    width: 300px; 
    margin-top: 30px 0 0px;
}
/*---------------------------------------------------------------------*/
fieldset{                       /*Estilo cuerpo del formulario*/
    width: 28%;
    text-align: left ;
    margin: 40px 1100px 30px 150px;
    background-color: #085ac4;
    border-radius: 10px;
    border: 0px;
    padding: 40px 0px 40px 40px;
    font-size: 20px;
    
}
.formulario{                      /*Estilo coloe del fondo del formulario*/
    background-color: #fff;
}

.formulario input{               /*Estilo barra de info*/
    width: 50%;
    font-size: 12px ;
    padding: 10px 40px;
    
   
}
.formulario label{                    /*Estilo palabras (nombre/ape.)*/
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.clasecontacto{                       /*Estilo titulo contaco*/
    width: 20%;
    font-size: 38px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 173, 48);
    padding: 10px 10px;
    border: 1px solid rgb(255, 179, 0);
    margin-left: 15px;
    text-transform: uppercase;
    
}
.formulario input[type="submit" ]{
    width: 40%;
    text-transform: uppercase;
    padding: 15px;
    color: rgb(23, 22, 22);
    background-color: rgb(251, 173, 48);
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
    letter-spacing:  2px;
    margin-left: 15px;
}
.formulario input[type="reset"]{
    width: 40%;
    text-transform: uppercase; 
    padding: 15px;
    color: rgb(23, 22, 22);
    background-color: rgb(251, 173, 48);
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
    letter-spacing:  1px;
}
.formulario input[type="submit" ]:hover{
   background-color: #fde4a4; 
}
.formulario input[type="reset"]:hover{
    background-color: #fde4a4; 
}
aside .imagencont{
    width: 30%;
   margin-left: 1200px;
    display: block; margin: auto;
}




    


.trajeta{                         /*Estilo tarjeta Rigs*/
    width: 24%;
    height: 15%;
    margin: auto;
    border: 5px solid rgb(200, 197, 197);
    padding: 15px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(69, 123, 195);
    color: #085ac4;
    border-radius: 10px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 75px;
    white-space: nowrap;
}
div.imagenlogo img{               /*Estilo tarjeta Rigs*/
    
  width: 100%; 
}
div.texto a{                      /*Estilo tarjeta Rigs*/
    font-size: 25px;
    background-color: #5395f1;
    padding: 8px 15px;
    border-radius: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
     text-decoration: none;
    border: 4px solid rgb(31, 16, 105);
    text-align: center;
    color: #010a49;
    font-weight: bolder;
    box-shadow: 2px 2px 2px 2px rgb(143, 141, 145); 
}
div.texto  a:hover{               /*Estilo tarjeta Rigs*/
   background-color: orange;
    color: rgb(95, 19, 105);
    border: 4px solid rgb(83, 21, 109);
}
div.imagenlogo.treinta{            /*Estilo tarjeta Rigs*/
width: 95%;
}


div.tarjetagpu{                       /*Estilo tarjeta GPUs*/
    width: 25%;
    height: 12%;
    padding: 10px;
    margin: auto;
    display: inline-block;
    margin-left: 75px;
    white-space: nowrap;
    border: 5px solid rgb(97, 94, 94);
    background-color: #262734;
    text-align: center;
    box-shadow: 3px 3px 3px 4px rgb(71, 54, 159); 
    border-radius: 5px 5px 10px 10px;
    padding-top: 16px;
}
div.imagengpu img{                      /*Estilo tarjeta GPUs*/
    width: 100%;
    
}
div.textogpu a{                          /*Estilo tarjeta GPUs*/
    font-size: 26px;
    background-color: #5395f1;
    padding: 5px 35px;
    border-radius: 7px;
    text-decoration: none;
    border: 4px solid rgb(18, 3, 99);
    color: #0b1966;
    font-weight: bolder;
    box-shadow: 2px 2px 2px 2px rgb(137, 140, 198); 
}
div.imagengpu img.gpuss{                /*Estilo tarjeta GPUs*/
    width: 98%;
}
div.textogpu a:hover{                     /*Estilo tarjeta GPUs*/
    background-color: orange;
    color: rgb(95, 19, 105);
    border: 4px solid rgb(75, 3, 99);
    box-shadow: 2px 2px 2px 2px rgb(187, 189, 216); 
}

div.parrafohousing p{                        /*Titulo Housing*/
    width: 90%;
    background-color: #37ec94;
    color: #f5f5f5;
    margin: auto;
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    border: 5px solid rgb(1, 123, 38);
    border-radius: 5px;
    white-space: normal;
   line-height: 1.7;
   -webkit-text-stroke: 1px rgb(74, 71, 71);
    
}   

div.contenedorhousing{                      /*parrafo Housing*/
    width: 1600px;
    height: 100px;
}
div.imghouse img{                          /*parrafo Housing*/
    width: 55%;
    height: 500px;
    margin-left: 75px;
    float: left;
    margin-bottom: 20px;
    border-radius: 2px;
} 
div.textogpu.housing a{                        /*parrafo Housing*/
    margin-left: 60px;
    
}

div.contenedorhousing.hacemostb a{                /*palabra Housing*/
    width: 100%;
    text-decoration: none;
    margin: 0px 80px;
    padding: 20px;
    border: 3px solid black;
    text-align: center;
    color: #002a5c;
    background-color: #fdc274;
    font-size: 23px;
    white-space: nowrap;
    font-weight: bolder;
    border-radius: 5px;
    cursor: default;
    box-shadow: 2px 2px 3px 2px rgb(23, 100, 149);
    
}
div.contenedorhousing.palabras a{                /*palabra Housing*/
    width: 100%;
    text-decoration: none;
    margin: 0px 100px;
    padding: 15px 35px;
    border: 3px solid rgb(27, 40, 82);
    text-align: center;
    color: #002a5c;
    background-color: #f6ff75;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 900;
    box-shadow: 2px 2px 3px 2px rgb(25, 98, 143);
    cursor: default;
    border-radius: 3px;
}   
.contenedorhousing.palabras{                      /*palabra Housing*/
    width: 1600px;
    height: 40px;
}   
div.contenedorhousing.palabras.sabermas a{           /*saber mas Housing*/
    margin-left: 130px;
    cursor: pointer;
    background-color: #75ff7e;
    border-radius: 15px 15px;
    box-shadow: 3px 2px 1px 3px rgb(44, 101, 5);
}
div.contenedorhousing.palabras.sabermas a:hover{           /*saber mas Housing*/
    background-color: #dcf8dd;
}


div.rigscartel.envios{                           /*Titulo envios*/
    margin-left: 130px;
    width: 18%;
    background-color: rgb(255, 55, 55);
    border-radius: 15px 5px ;
    box-shadow: 5px 2px 4px 2px rgb(59, 72, 132);
    border: 10px inset rgb(148, 32, 19);
}

div.contenedorenvios{                                /*Imagen envios*/
    width: 1500px;
    height: 60px;
}
div.contenedorenvios .imgenvios img{                   /*Imagen envios*/
    width: 40%;
    height: 400px;
    margin-right: 75px;
    float: right;
    margin-bottom: 200px;
    border-radius: 3px;
}

div.textoenvios p{                            /*Texto envios*/
    width: 40%;
    margin-left: 60px;
    width: 40%;
    background-color: #ffaaaa;
    text-align: center;
    margin-bottom: 150px;
    font-size: 30px;
    padding: 11px;
    border: 3px solid rgb(27, 40, 82);
    box-shadow: 2px 2px 3px 2px rgb(25, 98, 143);
    font-weight: 400;
}
div.textoenvios.masinfo a{                    /*Boton envios*/
    width: 20%;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    border: 3px solid rgb(4, 4, 64);
    margin-left: 250px;
    background-color: rgb(233, 92, 87);
    color: white;
    box-shadow: 3px 3px 1px 2px rgb(44, 46, 138);
    border-radius: 10px;
    cursor: pointer;
    
}
div.textoenvios.masinfo a:hover{                 /*Boton envios*/
    background-color: rgb(246, 162, 162);
    
}
footer{
    margin-top: 200px;
    width: 100%;
   
    background-color: #4e5590;
}
div.container_footer{
    display: flex;
   
    max-width: 1184px;
   padding-bottom: 20px;
    
}
div.columna_footer{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

div.logo img{
    width: 180px;
    margin-right: 300px;
}
div.columna_footer h2{
    margin-bottom: 25px;
    width: 300px;
}
div.acercacontenido a{
    width: 30px;
}