
header{
        min-height: 500px;
        height: 100vh;
        color: #fff;
        width: 100%;
        background-color: rgb(51, 230, 230);
    nav{
        padding: 40px 0;
        display: grid;
            ul.container{

                margin: 0 auto;
                width: 90%;
                max-width: 1200px;
                overflow: hidden;
            }
        
    }
}