div.contenedorGrid{
    
    header{
        overflow: hidden;
        &.header{
            width: 100%;
            height: 4.3rem;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgb(12, 15, 80);

            .container{
                width: 90%;
                max-width: 1200px;
                margin: auto;
                .btn-menu{
                    float: left;
                    line-height: 100px;
                    label{
                        color: #fff;
                        font-size: 40px;
                        cursor: pointer;
                    }
                    
                }
                .logo{
                    h1{
                        color: #fff;
                        font-weight: 400px;
                        font-size: 10px;
                        
                    }
                }
                .menu{
                    float: right;
                    line-height: 100px;
                    a{
                        display: inline-block;
                        padding: 15px;
                        line-height: normal;
                        text-decoration: none;
                        color: #fff;
                        transition: all 0.3s ease;
		                border-bottom: 2px solid ;
		                font-size: 15px;
		                margin-right: 5px;
                    }
                }
            }
    
        }
    }
    .capa{
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: rgb(92, 85, 81);
            z-index: -1;
            top: 0;
            left: 0;
        }  
    
    
    #btn-menu{
        display: none;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .container-menu{
        position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
     
        .cont-menu{
            width: 100%;
            max-width: 250px;
            background: #1c1c1c;
            height: 100vh;
            position: relative;
            transition: all 500ms ease;
            
            nav{
                transform: translateY(15%);
                a{
                    display: block;
		            text-decoration: none;
                    padding: 20px;
                    color: #c7c7c7;
                    border-left: 5px solid transparent;
                   
                    &:hover{
                        border-left: 5px solid #c7c7c7;
		                background: #1f1f1f;
                    }
                }
            }
            label{
                position: absolute;
                right: 5px;
                top: 10px;
                color: #fff;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
} 


    
  

