div.contenedorGrid{
    
    header{
        overflow: hidden;
        &.header{
            width: 100%;
            height: 4.3rem;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #0c0f50;

            .container{
                width: 95%;
                max-width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                .btn-menu{
                        align-items: center;
                        align-self: center;
                        margin-left: 4rem;
                        margin-bottom: .5rem;
                    label{
                        color: #fff;
                        font-size: 40px;
                        cursor: pointer;
                    }
                    
                }
                .logo{
                    img{
                        width: 20rem;
                        margin-right: 4rem;
                    }
                }
                .iconoCompra{  
                    a{
                        img{
                            margin-top: .5rem;
                            width: 3rem;
                        }
                    }
                }
                .menu{
                    float: right;
                    line-height: 100px;
                    a{
                        display: inline-block;
                        padding: 15px;
                        line-height: normal;
                        text-decoration: none;
                        color: #fff;
                        transition: all 0.3s ease;
		                border-bottom: 2px solid ;
		                font-size: 15px;
		                margin-right: 5px;
                    }
                }
            }
    
        }
    }
    .capa{
            position: absolute;
            width: 100%;
            height: 100vh;
            
            z-index: -1;
            top: 0;
            left: 0;
        }  
    
    
    #btn-menu{
        display: none;
    }
    #btn-menu:checked ~ .container-menu{
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
    #btn-menu:checked ~ .container-menu .cont-menu{
        transform: translateX(0%);
    }
    .container-menu{
        position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
     
        .cont-menu{
            width: 100%;
            max-width: 250px;
            background: #0c0f50;
            height: 100vh;
            position: relative;
            transition: all 500ms ease;
            
            nav{
                transform: translateY(15%);
                a{
                    display: block;
		            text-decoration: none;
                    padding: 20px;
                    color: #f2ecec;
                    border-left: 5px solid transparent;
                   
                    &:hover{
                        border-left: 5px solid #240b6f;
		                background: #75a9d3;
                    }
                }
            }
            label{
                position: absolute;
                right: 5px;
                top: 10px;
                color: #fff;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
} 


    
  

