.bigMinersRigs{
    width: 55%;
    margin: 6rem auto;
    .bigMinersimg{
        width: 100%;
    }
}
.tituloRigs{
    margin: auto;
    text-align: center;
}
.tarjetasFilaDos{
    margin-bottom: 4rem;
}