.dividirGpus{
  
    justify-content: space-evenly;
    margin-bottom: 4rem;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 3rem;
    grid-template-areas: 
    "tituloGpus tituloGpus tituloGpus tituloGpus"
    "tarjetasFilaUno tarjetasFilaUno tarjetasFilaUno tarjetasFilaUno" 
   "contenedorTarjetas contenedorTarjetas contenedorTarjetas"

}
.claseFlex{                               
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    overflow: hidden;
}


.tituloGpus{ grid-area: tituloGpus;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Fredericka the Great', cursive;
    
}

.tarjetasFilaUno{ 
    @extend .claseFlex;                            // Extend          
} 
.tarjetasFilaDos{
    @extend .claseFlex; 
}
.tarjetaGpus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 20%;
    height: auto;
    background-color: rgb(255, 255, 255);
    
    border-radius: 0.2rem;
   margin: 2rem 0;
   box-shadow: 1px 2px 6px 2px grey;

   .parrafoPlatos{ 
       margin: 1rem;
       font-size: 1.2rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif, cursive;
    
    }
    .imgGpus{
        width: 100%;
    }
    .precio{
        margin: 1rem auto;
        font-size: 1.2rem;
    }
}
.bigMinersGpus{
    
    width: 55%;
    margin: 3rem auto;
    .bigMinersimg{
        width: 100%;
    }

}

//ALERTAPAG
.alertVentana{
    background-color: rgb(10, 227, 75);
}

.contenedorModal{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0 , 0.2);
        position: fixed;
        inset: 0;  //es t l b y r 
        display: flex;
        justify-content: center;
        align-items: center;

        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;

        .modal{
            background-color: rgb(238, 238, 232);
            width: 46rem;
            height: auto;
            border-radius: 10px;
            padding: 15px;

            .tituloModal{
                font-size: 3rem;
                color: rgb(36, 35, 35);
                text-shadow: 2px 2px 2px gray;
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .tituloProducto{
                font-size: 2.5rem;
                margin: 1rem;
                text-align: center;
            }
            .tituloTotal{
                font-size: 2.5rem;
                margin: 1rem;
                text-align: center;
            }
       
            .botonCerrar{
                
                font-size: 3.5rem;
                background-color: rgb(238, 238, 232);
               align-items: flex-end;
               border: none;
               color: red;
               cursor: pointer;
               
                
            }
          }   

}
.contenedorModalActivo{
    visibility: visible;
    opacity: 1;
}
.contenedorTarjetas{
    grid-area: contenedorTarjetas;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;

    .tarjetaGpus{
        margin: 2rem 4rem;
    }
    
}
.botonAgregar{
    margin: .5rem auto;
    font-size: 1rem;
    width: 70%;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(4, 36, 77);
}
.botonAgregar:hover{
    background-color: rgb(9, 59, 124);
}

.productoCarrito{
    margin:  auto;
    width: 80%;
    font-size: 1.3rem;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
}

.precioCarrito{
    width: 80%;
    margin:  auto;
    font-size: 1.5rem;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 1rem;
    text-align: center;
}
.eliminarObjeto{
    font-size: 2rem;
    color:red;
}

.contenedorModal{
    display: flex;
    flex-direction: column;
}
#modalFijo{
width: 50%;
background-color: aliceblue;

}