.contenedorIndex{
    margin-top: 10rem;
    margin-bottom: 4rem;
        .logoprincipal{
            width: 100%;
           
            text-align: center;
            img {
                &.logoimg{
                    margin: 0 auto;
                    width: 55%;
                }
                
                
            }
        }
        .fraseIndex{
            margin-top: 5rem;
            width: 100%;
            
            h3{
                margin: 0 auto;
                width: 65%;
                text-align: center;
                padding: 1rem;
                font-size: 2rem;
                background-color: rgba(227, 227, 227, 0.784);
                border: 2px solid rgb(0, 0, 0);
                border-radius: 5px 5px ;
                box-shadow: 2px 6px 2px 2px grey;
                font-family: 'IM Fell English', serif;
            }
        }
}