.bigMinersRigs{
    width: 55%;
    margin: 6rem auto;
    .bigMinersimg{
        width: 100%;
    }
}
.tituloRigs{
    margin: auto;
    text-align: center;
}
.tarjetasFilaDos{
    margin-bottom: 4rem;
}

.contenedorRigs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 3rem;
}